name: MLOPS Pipeline CI

# on: [push, pull_request]
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  sweetviz:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          #pip install tensorflow numpy pandas matplotlib pandas-profiling sweetviz scikit-learn
          #pip uninstall pandas-profiling ydata-profiling visions numba -y
          #pip install ydata-profiling visions numba
          pip install --upgrade numpy==1.23.5 pandas matplotlib seaborn tensorflow scikit-learn ydata-profiling sweetviz

      - name: Run pipeline
        run: |
          python src/eda.py

      # Configure Git
      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      # Commit the new reports/files
      - name: Commit changes
        run: |
          git pull
          git add --all
          git commit -m "Add generated sweetviz reports/files"

      # Push the changes
      - name: Push changes
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: git push origin HEAD:main
  explainability:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install numpy pandas tensorflow lime matplotlib scikit-learn ipython seaborn

      - name: Run pipeline
        run: |
          python src/explainability.py

      # Configure Git
      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      # Commit the new lime_explanation files
      - name: Commit changes
        run: |
          git pull
          git add --all
          git commit -m "Add generated lime_explanation files"

      # Push the changes
      - name: Push changes
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: git push origin HEAD:main
  automl:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow numpy h2o optuna numpy pandas tensorflow scikit-learn

      - name: Run pipeline
        run: |
          python src/automl.py

      # Configure Git
      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      # Commit the new automl_result and mlrun files
      - name: Commit changes
        run: |
          git pull
          git add --all
          git commit -m "Add generated automl_result and mlrun files"

      # Push the changes
      - name: Push changes
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: git push origin HEAD:main
